//- This file is part of anisync.
//- Copyright (C) 2020 Jannes Grzebien
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as
//- published by the Free Software Foundation, either version 3 of the
//- License, or (at your option) any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//- 
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <http://www.gnu.org/licenses/>.
script.
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="!{piwik.url}";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', !{piwik.siteId}]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
